/* hhttps://piccalil.li/blog/a-modern-css-reset/
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* end reset */

* {
  box-sizing: border-box;
  max-width: 100%;
  /*put a border around everything to see where it stops and starts*/
  /*border: 1px solid red; /* try border shadow instead ? */
  /* outline: 1px solid cyan; */
  font-family: "Roboto Mono", monospace;
}
/*General Styles*/
html {
  font-size: 62.5%;
}

 /* helpers */
.air2 {
  margin: 2rem;
}
.air1 {
  margin: 1rem;
}

.olg {
  outline: 1px solid green;
}

.olr {
  /* outline: 1px solid red; */
}

.air-top3 {
  margin-top: 3rem;
}

.air-bottom3 {
  margin-bottom: 3rem;
}

.c{
    margin: 0 auto;

}

.p{
    padding: 1rem ;
}

lbox{
    display: inline-block;
    width: 5rem;
}


.y{
  background-color: #FFCD69;
}

.b{
  background-color: #5ED3EB;
}

.r{
  background-color: #FF764E;
}

.bold{
  font-weight: bold;
}

/* structure */

/*header / nav*/

header{
  width: 100%;
  /* display: inline-block; */
  margin: 0 auto;
  margin-bottom: 1rem;
}

nav{
    text-align: center;
    line-height: 1.2;
    width:max-content;
    margin: 0 auto;

}

nav a {
    padding: .6rem;
    display: inline-block;
    border-radius: .5rem;
    color: white;
    text-decoration: none;
    margin: 1rem 4rem;
  }
  
  nav a:hover {
    background-color: white;
    color: pink;
    outline: solid .5px #DDB9A3;
  }



.intro {
  text-align: center;
}

.img-crop {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  width: 15rem;
  height: 15rem;
  float: left;
  margin: 1rem 2rem;
}

.img-crop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-header {
  
}

.intro h2 {
  font-size: 1rem;
  font-weight: 400;
}

.intro h3 {
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-block;
  width: 25rem;
}

h1 {
  display: inline-block;
  font-family: "Chelsea Market", cursive;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  margin-top: 10rem;
}

.spacer {
  display: block;
  height: 10vh;
}

.descr{
    background-color: #DDB9A3;
    width: 95%;
}

.firecamp, .camper {
  width: 50%;
  text-align: center;
}

.firecamp img{
    width: 30%;
}

.camper img{
  width: 30%;
}

.pre-footer{
  height: 10rem;
  background-image: url(assets/footer_img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.pre-footer{
  background-color: #F9E7DC;
}